html,
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.wrapper {
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.navigation-panel li {
    list-style: none;
}

.navigation-panel {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
}

.logo::before {
    content: "";

    position: absolute;
    top: 0;
    left: 51px;

    background-image: url("../img/Logo.png");
    width: 138px;
    height: 70px;
}

.nav-item {
    padding-top: 13px;
    display: block;
    width: 240px;
    min-height: 43px;

    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    background-color: #fff;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #81b3d2;
}

.nav-item:focus {
    color: #000;
    opacity: 0.3;
}

.nav-item:active {
    color: #766357;
    opacity: 1;
}

.intro-wrap {
    min-height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    margin-top: 55px;
    width: 450px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    text-align: center;
    text-transform: uppercase;
}

.intro-wrap p {
    width: 502px;

    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    text-align: center;
    text-transform: uppercase;
}

.features-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
    line-height: 21px;
}

.feature-item h2 {
    width: 155px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
}

.feature-item p {
    width: 300px;

    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color:  #333333;
}

.blue-item {
    width: 100%;
    min-height: 256px;
    flex-direction: row;
    background-color: #81b3d2;
}

.blue-item .text-wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-item .text-wrap p,
.blue-item .text-wrap h2 {
    color: #fff;
}

.blue-item .text-wrap h2 {
    margin-bottom: 10px;
}

.white-item {
    width: 400px;
    min-height: 330px;
    position: relative;
}

.white-item img {
    position: absolute;
    top: 60px;
}

.white-item h2 {
    margin-top: 160px;
    margin-bottom: 10px;
}

.gray-item {
    width: 400px;
    min-height: 256px;
    background-color: #eeeeee;
}

.gray-item h2 {
    margin-top: 46px;
    margin-bottom: 10px;
}

.service {
    min-height: 291px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service h2 {
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 30px;
    font-weight : 700;
    line-height: 36px;
    text-transform: uppercase;
}

.service p {
    margin: 0;
    padding: 0;
    width: 400px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.popup-btn {
    width: 568px;
    height: 86px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;

    background-color: #766357;
    border: none;
    cursor: pointer;
}

.popup-wrap {
    width: 568px;
    height: 395px;

    position: absolute;
    top: 291px;
    left: 316px;
    background-color: #fff;

    transition-property: all;
	transition-duration: 2s;
    transition-timing-function: ease;
    opacity: 0;
}

.pogchamp {
    position: absolute;
    top: 20px;
    left: 110px;
}

.main-footer {
    min-height: 120px;

    display: flex;
    justify-content: space-between;
}

.main-footer .hashtag {
    margin-top: 41px;
    width: 400px;
    display: block;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.social-buttons {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
}

.social-buttons li:nth-child(1),
.social-buttons li:nth-child(2) {
    margin-right: 6px;
}

.social-buttons a {
    width: 46px;
    height: 48px;
    display: block;
    position: relative;
    background-color: #81b3d2;
}

.social-buttons a:hover {
    background-color: #669ec0;
}

.social-buttons a:focus::before {
    opacity: 0.3;
}

.social-buttons .twitter-btn::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 15px;

    width: 17px;
    height: 15px;
    background-image: url("../img/twitter.png");
}

.social-buttons .facebook-btn::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 16px;

    width: 12px;
    height: 22px;
    background-image: url("../img/facebook.png");
}

.social-buttons .youtube-btn::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 13px;

    width: 20px;
    height: 16px;
    background-image: url("../img/youtube.png");
}

.landing {
    margin-top: 35px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.landing p {
    margin: 0;
    margin-top: 5px;
    margin-right: 3px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.landing a {
    margin-left: 5px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}