@font-face {
    font-family: "Gilroy";
    src: url("../web/gilroyextrabold.woff2"),
    url("../web/gilroyextrabold.woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../web/gilroylight.woff2"),
    url("../web/gilroylight.woff2");
    font-weight: 300;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.login-btn,
.compare-btn,
.basket-btn,
.site-search,
.search-btn {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #000;
}

.catalog-btn,
.delivery-btn,
.guarantee-btn,
.contacts-btn {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.195em;
    color: #000;
    text-transform: uppercase;
}

label[for="search-field"] {
    width: 440px;
    margin-right: 100px;

    position: relative;

    display: flex;
}

.site-search {
    width: 355px;
    margin: 0;
    padding: 0;
    padding-left: 39px;

    border: none;
    background-color: #f7e296;

    outline: none;
    opacity: 0.3;
}

label[for="search-field"]::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 3px;

    width: 16px;
    height: 16px;
    background-image: url("../img/svg-device/search.svg");

    z-index: 1;
}

.search-btn {
    visibility: hidden;

    width: 81px;
    margin: 0;
    padding: 0;

    border: 2px solid #000;
    background-color: #f7e296;

    outline: none;
    cursor: pointer;
}

.site-search:focus {
    border-bottom: 2px solid #000;
    opacity: 1;
}

.site-search:focus ~ .search-btn {
    visibility: visible;
}

.search-btn:hover {
    visibility: visible;

    background-color: #000;
    color: #fff;
}

.search-btn:focus {
    color: gray;
}

.login-btn {
    margin-right: 215px;
    padding-left: 27px;

    position: relative;
}

.login-btn::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 0;

    width: 13px;
    height: 12px;
    background-image: url("../img/svg-device/user.svg");
}

.compare-btn {
    margin-right: 40px;
    padding-left: 23px;

    position: relative;
}

.compare-btn::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 3px;

    width: 10px;
    height: 10px;
    background-image: url("../img/svg-device/compare.svg");
}

.basket-btn {
    padding-left: 24px;
    position: relative;
}

.basket-btn::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 2px;

    width: 12px;
    height: 12px;
    background-image: url("../img/svg-device/cart.svg");
}

.catalog-btn {
    width: 300px;
    margin-right: 293px;
    padding-right: 30px;

    position: relative;
}

.catalog-btn:hover ~ .catalog-menu {
    display: flex;
}

.catalog-btn::after {
    content: "";

    position: absolute;
    top: 3px;
    right: 1px;

    width: 16px;
    height: 16px;
    background-image: url("../img/svg-device/plus.svg");
}

.delivery-btn {
    margin-right: 35px;
}

.guarantee-btn {
    margin-right: 105px;
}

.navigation-row-1 a:hover,
.navigation-row-2 a:hover {
    opacity: 0.6;
}

.navigation-row-1 a:focus,
.navigation-row-2 a:focus {
    opacity: 0.3;
}

.catalog-menu {
    width: 1100px;
    margin-left: -60px;
    padding-top: 25px;
    padding-left: 60px;
    padding-bottom: 33px;
    
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    
    background-color: #f7e296;
    z-index: 3;
}

.catalog-menu:hover {
    display: flex;
}

.menu-column-1,
.menu-column-2,
.menu-column-3 {
    width: auto;
    margin-right: 50px;
    
    display: flex;
    flex-direction: column;
}

.catalog-item {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    color: #000;
}

.site-navigation {
    min-height: 299px;
    margin-top: 40px;
    
    position: relative;

    background-color: #f7e296;
}

.site-navigation::before {
    content: "DEVICE";
    
    position: absolute;
    top: -30px;
    left: 57px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 48px;
    letter-spacing: 0.013em;
}

.navigation-row-1 {
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-top: 38px;

    display: flex;
    align-items: center;
}

.navigation-row-2 {
    width: 1040px;
    margin: 0 auto;
    
    position: relative;

    display: flex;
    align-items: center;
}

.promo-slider {
    margin-bottom: 81px;
    position: relative;
    top: -33px;
}

.promo-list {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
}

.promo-item {
    width: 500px;
    padding-left: 600px;
        
    display: flex;
    flex-direction: column;
    
    list-style: none;
}

.promo-item h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    
    position: relative;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.013em;
    
    z-index: 2;
}

.promo-item h2::before {
    content: "";
    
    position: absolute;
    top: -41px;
    left: 0;
    
    width: 100px;
    height: 7px;
    
    background-color: #fff;
}

.promo-item:nth-child(1) h2 {
    width: 400px;
}

.promo-item:nth-child(1) h2::after {
    content: "01";
    
    position: absolute;
    top: -113px;
    left: 330px;
    
    font-size: 179px;
    color: #fff;
}

.promo-item:nth-child(2) h2 {
    width: 300px;
}

.promo-item:nth-child(2) h2::after {
    content: "02";
    
    position: absolute;
    top: -113px;
    left: 310px;
    
    font-size: 179px;
    color: #fff;
}

.promo-item:nth-child(3) h2 {
    width: 510px;
}

.promo-item:nth-child(3) h2::after {
    content: "03";
    
    position: absolute;
    top: -113px;
    left: 310px;
    
    font-size: 179px;
    color: #fff;
    
    z-index: -1;
}

.promo-item p {
    width: 480px;
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.promo-item .more-btn {
    width: 220px;
    padding: 10px 0;
    margin-bottom: 52px;
    
    position: relative;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.more-btn::before {
    content: "";
    
    position: absolute;
    top: 17px;
    left: 0;
    
    width: 220px;
    height: 8px;
    
    background-color: #f0c52e;
    z-index: -1;
    transition: all 200ms ease;
}

.more-btn:hover::before {
    transform: scaleY(5);
}

.item-spec-wrap {
    width: 500px;
    
    display: flex;
}

.item-spec {
    width: 160px;
    
    display: flex;
    flex-direction: column;
}

.item-spec:nth-child(2) {
    width: 140px;
}

.item-spec .spec-value {
    margin-bottom: 10px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
}

.item-spec .spec-name {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.slider-control {
    width: 78px;
    
    display: flex;
    justify-content: space-between;
    
    position: absolute;
    top: 245px;
    right: 83px;
}

.slider-control i {
    position: relative;
    
    display: inline-block;
    width: 12px;
    height: 12px;
    
    background-color: #000;
    border-radius: 50%;
    
    cursor: pointer;
}

.slider-control i::before {
    content: "";
    
    position: absolute;
    top: 1px;
    left: 1px;
    
    width: 10px;
    height: 10px;
    
    background-color: #fff;
    border-radius: 50%;
}

.promo-item {
    display: none;
}

.promo-item:nth-child(1) img {
    position: absolute;
    top: -78px;
    left: 90px;
}

.promo-item:nth-child(2) img {
    position: absolute;
    top: -70px;
    left: 116px;
}

.promo-item:nth-child(3) img {
    position: absolute;
    top: -10px;
    left: 31px;
}

#promo-toggle-1:checked ~ .promo-list .promo-item:nth-child(1) {
    display: flex;
}

#promo-toggle-2:checked ~ .promo-list .promo-item:nth-child(2) {
    display: flex;
}

#promo-toggle-3:checked ~ .promo-list .promo-item:nth-child(3) {
    display: flex;
}

#promo-toggle-1:checked ~ .slider-control .promo--1::after,
#promo-toggle-2:checked ~ .slider-control .promo--2::after,
#promo-toggle-3:checked ~ .slider-control .promo--3::after {
    content: "";
    
    position: absolute;
    top: 3px;
    left: 3px;
    
    width: 6px;
    height: 6px;
    
    background-color: #000;
    border-radius: 50%;
}

.product-blocks {
    margin-bottom: 184px;
}

.product-list {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
    
    list-style: none;
}

.product-item {
    display: flex;
    flex-direction: column;
}

.product-link {
    width: 160px;
    min-height: 160px;
    margin-bottom: 34px;
    
    background-color: #f7e296;
}

.product-link:hover {
    background-color: #f0c52e;
}

.product-item p {
    width: 160px;
    margin: 0;
    padding: 0;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.012em;
}

.product-item:nth-child(1) .product-link {
    background-image: url("../img/svg-device/popular-1.svg");
    background-repeat: no-repeat;
    background-position: 31px 52px;
}

.product-item:nth-child(2) .product-link {
    background-image: url("../img/svg-device/popular-2.svg");
    background-repeat: no-repeat;
    background-position: 38px 41px;
}

.product-item:nth-child(3) .product-link {
    background-image: url("../img/svg-device/popular-3.svg");
    background-repeat: no-repeat;
    background-position: 49px 38px;
}

.product-item:nth-child(4) .product-link {
    background-image: url("../img/svg-device/popular-4.svg");
    background-repeat: no-repeat;
    background-position: 28px 50px;
}

.product-item:nth-child(5) .product-link {
    background-image: url("../img/svg-device/popular-5.svg");
    background-repeat: no-repeat;
    background-position: 55px 32px;
}

.product-item:nth-child(6) .product-link {
    background-image: url("../img/svg-device/popular-6.svg");
    background-repeat: no-repeat;
    background-position: 13px 49px;
}

.service {
    margin-bottom: 94px;
    width: 100%;
    min-height: 288px;
    
    background-color: #e5e5e5;
}

.service-slider {
    position: relative;
    top: -33px;
    
    display: flex;
}

.service-control {
    width: 280px;
    margin-right: 121px;
    padding-top: 11px;
    
    position: relative;
        
    display: flex;
    flex-direction: column;
}

.service-control:after {
    content: "";
    
    position: absolute;
    top: -67px;
    right: -4px;
    
    width: 7px;
    height: 319px;
    background-color: #000;
}

.service-control span {
    width: 260px;
    margin-bottom: 23px;
    padding: 10px 0;
    padding-left: 20px;
    
    display: inline-block;
    
    position: relative;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    z-index: 1;
}

.service-control .service--2 {
    width: 256px;
    padding-left: 24px;
}

.service-control .service--3 {
    width: 243px;
    padding-left: 37px;
}

.service-control span::before {
    content: "";
    
    position: absolute;
    top: 18px;
    left: 0;
    
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
    
    transition: all 0.2s ease;
    z-index: -1;
}

.service-control span:hover::before {
    transform: scaleY(5);
}


#service-toggle-1:checked ~ .service-control .service--1,
#service-toggle-2:checked ~ .service-control .service--2,
#service-toggle-3:checked ~ .service-control .service--3 {
    background-color: #000;
    color: #f7e184;
}

#service-toggle-1:checked ~ .service-control .service--1::before,
#service-toggle-2:checked ~ .service-control .service--2::before,
#service-toggle-3:checked ~ .service-control .service--3::before {
    display: none;
}

.service-control label {
    cursor: pointer;
}

.service-item {
    display: none;
}

#service-toggle-1:checked ~ .service-list .service-item:nth-child(1) {
    display: block;
}

#service-toggle-2:checked ~ .service-list .service-item:nth-child(2) {
    display: block;
}

#service-toggle-3:checked ~ .service-list .service-item:nth-child(3) {
    display: block;
}

.service-list {
    width: 760px;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    
    list-style: none;
}

.service-item:nth-child(1) img {
    position: absolute;
    top: 18px;
    right: 66px;
}

.service-item:nth-child(2) img {
    position: absolute;
    top: 18px;
    right: 66px;
}

.service-item:nth-child(3) img {
    position: absolute;
    top: 18px;
    right: 66px;
}

.service-item h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.02em;
}

.service-item p {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #464646;
}

.service-item:nth-child(1) p {
    width: 430px;
}

.service-item:nth-child(2) p {
    width: 440px;
}

.service-item:nth-child(3) p {
    width: 435px;
}

.logo-list {
    margin-bottom: 136px;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
    
    list-style: none;
}

.logo-list a {
    opacity: 0.2;
    filter: grayscale(100%);
    
    transition: all 200ms linear;
}

.logo-list a:hover {
    opacity: 1;
    filter: grayscale(0%);
}

.info-block {
    margin-bottom: 91px;
    display: flex;
    justify-content: space-between;
}

.about-block {
    width: 560px;
    
    display: flex;
    flex-direction: column;
}

.contacts-block {
    width: 560px;
    
    display: flex;
    flex-direction: column;
}

.contacts-block h3, 
.about-block h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 39px;
    
    position: relative;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.info-block h3::before {
    content: "";
    
    position: absolute;
    top: -47px;
    left: 0;
    
    width: 80px;
    height: 7px;
    
    background-color: #000;
}

.contacts-block p,
.about-block p {
    margin: 0;
    padding: 0;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

.about-block p {
    width: 475px;
    margin-bottom: 65px;
}

.about-block p:nth-of-type(1) {
    margin-bottom: 30px;
}

.contacts-block p {
    margin-bottom: 38px;
}

.contacts-block a {
    margin-bottom: 74px;
}

.delivery-ways {
    margin: 0;
    padding: 0;
    margin-bottom: 63px;
    padding-left: 35px;
    
    font-family: "Gilroy", "Arial", sans-serif; 
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    
    list-style: none;
}

.delivery-ways li {
    position: relative;
}

.delivery-ways li::before {
    content: "";
    
    position: absolute;
    top: 16px;
    left: -35px;
    
    width: 10px;
    height: 10px;
    
    background-color: gray;
    border-radius: 50%;
}

.delivery-ways li::after {
    content: "";
    
    position: absolute;
    top: 19px;
    left: -32px;
    
    width: 4px;
    height: 4px;
    
    background-color: #fff;
    border-radius: 50%;
}

.about-btn, 
.write-btn {
    margin: 0;
    padding: 0;
    width: 260px;
    
    position: relative;
    
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000;
    text-transform: uppercase;
    text-align: center; 
    
    border: none;
    background-color: #fff;
    
    z-index: 1;
    cursor: pointer;
    outline: none;
}

.about-btn::before,
.write-btn::before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 0;
    
    width: 260px;
    height: 8px;
    
    background-color: #f0c52e;
    z-index: -1;
    transition: all 200ms ease;
}

.about-btn:hover::before,
.write-btn:hover::before {
    transform: scaleY(5);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
