body, html {
    margin: 0;
    padding: 0;
    
    font-family: "Montserrat", "Arial", sans-serif;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 940px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.header-wrap {
    margin: 0 auto;
    width: 100%;
    min-height: 588px;
    
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

.header-navigation {
    margin-left: 477px;
    padding-top: 40px;
    width: 457px;
    
    position: relative;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-navigation::before {
    content: "";
    
    position: absolute;
    top: 29px;;
    left: -477px;;
    
    width: 180px;
    height: 30px;
    
    background-image: url("../img/logo.png");
}

.header-navigation a {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
    text-transform: uppercase;
    
    -webkit-transition: all 50ms ease;
    
    transition: all 50ms ease;
}

.header-navigation a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header-description {
    margin: 0;
    margin-top: 118px;
    width: 600px;
    
    font-family: "Lora", "Times New Roman", serif;
    font-size: 72px;
    line-height: 85px;
    font-weight: 700;
    letter-spacing: 0.05em;
    
    text-shadow: 2px 11px 5px rgba(0, 0, 0, 0.33); 
}

.music-player-wrap {
    margin-bottom: 12px;
    width: 100%;
    min-height: 80px;
    
    position: relative;
    top: -39px;
    
    background-color: #b50b1e;
}

.music-player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.play-btn {
    margin-top: 10px;
    width: 58px;
    height: 58px;
    
    display: block;
    
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #b50b1e;
    
    cursor: pointer;
    outline: none;
}

#player {
    display: none;
}

.play-btn::before {
    content: "";
    
    position: absolute;
    top: 17px;
    left: 24px;
    
    width: 14px;
    height: 25px;
    
    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

#player:checked ~ label .play-btn::before {
    content: "";
    
    position: absolute;
    top: 17;
    left: 20px;
    
    width: 7px;
    height: 25px;
    
    background-color: #fff;
    border-radius: 1px;
}

#player:checked ~ label .play-btn::after {
    content: "";
    
    position: absolute;
    top: 17px;
    left: 30px;
    
    width: 7px;
    height: 25px;
    
    background-color: #fff;
    border-radius: 1px;
}

.song-title {
    margin: 0;
    margin-top: 16px;
    margin-left: 22px;
    width: 300px;
    
    font-size: 14px;
    font-weight: normal
}

.track-bar {
    width: 560px;
    height: 7px;
    
    position: absolute;
    top: 53px;
    left: 562px;
    
    background-color: #000;
    border-radius: 4px
}

.player-control {
    margin-top: 20px;
    margin-left: 280px;
    width: 280px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.circle-btn {
    width: 40px;
    height: 40px;
    
    position: relative;
    
    background-color: #b50b1e;
    border: 1px solid #fff;
    border-radius: 50%;
    
    outline: none;
    cursor: pointer;
}

.volume-btn::before {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 8px;
    
    width: 23px;
    height: 18px;
    
    background-image: url("../img/volume.svg");
    background-repeat: no-repeat;
}

.prev-btn::before {
    content: "";
    
    position: absolute;
    top: 11px;
    left: 13px;
    
    width: 12px;
    height: 17px;
    
    background-image: url("../img/prev.svg");
    background-repeat: no-repeat;
}

.next-btn::before {
    content: "";
    
    position: absolute;
    top: 11px;
    left: 14px;
    
    width: 12px;
    height: 17px;
    
    background-image: url("../img/next.svg");
    background-repeat: no-repeat;
}

.repeat-btn::before {
    content: "";
    
    position: absolute;
    top: 9px;
    left: 10px;
    
    width: 18px;
    height: 20px;
    
    background-image: url("../img/repeat.svg");
    background-repeat: no-repeat;
}

.grid-btn::before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 12px;
    
    width: 16px;
    height: 13px;
    
    background-image: url("../img/grid.svg");
    background-repeat: no-repeat;
}

.promo-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.block-title,
.promo-name {
    margin: 0;
    
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #2a333c;
}

.block-title {
    margin-bottom: 52px;
}

.promo-name {
    font-size: 18px;
}

.promo-list {
    margin: 0;
    padding: 0;
    
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.promo-item {
    margin-bottom: 25px;
    width: 218px;
    min-height: 177px;
    
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.promo-item:nth-child(1) img {
    margin-top: 34px;
    margin-left: 75px;
    margin-bottom: 33px;
}

.promo-item:nth-child(2) img {
    margin-top: 42px;
    margin-left: 62px;
    margin-bottom: 15px;
}

.promo-item:nth-child(3) img {
    margin-top: 37px;
    margin-left: 59px;
    margin-bottom: 7px;
}

.promo-item:nth-child(4) img {
    margin-top: 40px;
    margin-left: 74px;
    margin-bottom: 31px;
}

.promo-item:nth-child(5) img {
    margin-top: 44px;
    margin-left: 70px;
    margin-bottom: 24px;
}

.promo-item:nth-child(6) img {
    margin-top: 39px;
    margin-left: 60px;
    margin-bottom: 14px;
}

.promo-item:nth-child(7) img {
    margin-top: 39px;
    margin-left: 75px;
    margin-bottom: 22px;
}

.promo-item:nth-child(8) img {
    margin-top: 42px;
    margin-left: 70px;
    margin-bottom: 16px;
}

.promo-name {
    -ms-flex-item-align: center;
    align-self: center;
}
